/* START: global settings */
* {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

._main_container {
  background-color: white;
}
/* END: global settings */



/* START: Top navbar */
  ul._top_nav {  
    background-color: lightcyan;
    padding-right: 4%;
  }

  ._top_nav a {
    color: #333333;
  }

/* END: Top navbar */



/* START: left content navbar */
._content_navigation_wrapper {
  position: fixed;
}
/* END: left content navbar */



/* Small devices */
@media (max-width: 576px) {
}

/* Middle-size devices */
@media (min-width: 768px) and (max-width: 1200px) {
}

/* Large */
@media (min-width: 960px) {
}