/***** GLOBAL SETTINGS *****/
* {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#_body_intro {
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 1+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/***** HEADER *****/

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

._header_container {
  background-color: white;
}


/* Logo and contacts */
span#_logo {
  position: absolute;
  padding: 12px 0px 12px 16px;
  width: 40%;
}

span#_logo a {
  color: #ffffff;
}

img#_linkedin_logo {
  padding: 0 5px 0px 8px ;
  margin-bottom: 5px;
  filter: invert(10%) sepia(12%) saturate(599%) hue-rotate(314deg) brightness(99%) contrast(75%);
}

img#_email_logo {
  margin-bottom: 2px;
  filter: invert(10%) sepia(12%) saturate(599%) hue-rotate(314deg) brightness(99%) contrast(75%);
}

/* Top navbar */
/* ul._top_nav {  
  padding-right: 4%;
  border: 1px solid #333333;
} */

._top_nav a {
  color: #333333;
}




/***** CONTENT  *****/

#_col-10 {
  padding-right: 65px;
}

#_content_container {
  background-color: white;
}

/* left navbar */
.col-2 {
  padding-left: 0px !important;
}

._left_navbar_heading {
  padding: 5px 0 5px 0;
}

._left_navbar_wrapper_desktop, ._left_navbar_wrapper_mobile {
  top: 48px;
  height: 100vh;
  background: #e9f1e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #e9f1e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #e9f1e9); /* W3C, IE 1+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  z-index: 1;
}

#_back_to_top {
  margin-top: 25em;
}

/* content */
#_sections_wrapper {
  font-size: 15px;
}

/***** FOOTER *****/
footer {
  margin: 15px 0 15px 0;
}




/***** RESPONSIV STUFF  *****/

/* Small devices */
@media (max-width: 576px) {
}

/* Middle-size devices */
@media (min-width: 768px) and (max-width: 1200px) {
}

/* Large */
@media (min-width: 960px) {
}